# ********** Common **********
.DS_Store

# ********** Front **********

## WebStorm
.idea/

## Materialize Admin Template
front/Dashed/front-end
front/Dashed/grunt
front/Dashed/starter-kit

# ********** Back **********
node_modules
postgres-data
