# ********** Common **********
.DS_Store

# ********** Front **********

## WebStorm
.idea/

## Materialize Admin Template
/Dashed/front-end
/Dashed/grunt
/Dashed/starter-kit

# ********** Back **********
node_modules
postgres-data
